@keyframes slideInFromBottom {
  from {
    opacity: 0;
    translate: 0 60px;
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    translate: -60px 0;
  }
}

@keyframes wipeFromLeft {
  from {
    opacity: 0;
    translate: 0 60px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
}
