/* ============================================
body
============================================ */

body {
	margin: 0;
	padding: 0;

	background-color: var(--color-bkg-primary);
	background-image:
		url(../../img/hero_bkg_1500.jpg), url(../../img/bottom_bkg_1500.jpg);
	background-position:
		50% 0,
		50% 100%;
	background-repeat: no-repeat;
	background-size:
		100% auto,
		100% auto;

	color: var(--color-text-primary);

	@media (width >= 1500px) {
		background-size:
			auto auto,
			100% auto;
	}
}
