/* ============================================
reset
============================================ */

*,
*::before,
*::after {
  margin-block-start: 0;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: var(--color-accent) transparent;
}
