/* ============================================
advantages
============================================ */

.advantage::before {
	content: "";
	display: block;
	width: 24px;
	height: 3px;
	background-color: var(--color-accent);
	margin-block-end: 42px;
}
