/* ============================================
CTA Link (call to action)
============================================ */

.ctalink {
	display: inline-block;

	font-weight: 500;
	line-height: 1.2;
	font-size: var(--fontsize-200);
	color: var(--color-text-highlight);
	text-transform: uppercase;
	letter-spacing: 0.24ch;

	text-decoration: none;
	padding-block-end: 0.54em;
	border-block-end: 3px solid var(--color-accent);
}
