/* ============================================
raven
============================================ */

.raven {
	display: block;
}

.raven__media {
	margin-block-end: 24px;

	display: grid;
}

.raven__media > *,
.raven__media::before {
	grid-area: 1 / 2;
}

.raven__media::before {
	content: "";
	background-color: var(--color-accent);
	z-index: 1;
	mix-blend-mode: multiply;
}

.raven__text {
	margin-inline-end: 24px;
}

.raven__title {
	font-weight: 450;
	font-size: var(--fontsize-heading4);
	line-height: 1.2;
	color: white;
	margin-block-end: 0.5em;
}
