/* ============================================
titles
============================================ */

:where(.h1, .h2, .h3, .h4) {
	font-weight: 500;
	line-height: 1.3;
	font-family: var(--fontstack-main);
	color: var(--color-text-highlight);
	margin-block-end: 1em;
}

.h1 {
	font-size: var(--fontsize-heading1);
}

.h2 {
	font-size: var(--fontsize-heading2);
}

.h2 {
	font-size: var(--fontsize-heading3);
}

.h4 {
	font-size: var(--fontsize-heading4);
}
